@use "sass:math";
@use "sass:list";
@use "sass:color";

$acc-min-contrast-ratio: 2;

$col-black: #0f0f0f;
$col-white: #fcfcfc;
$col-primary: #44e;

$border-radius: .2em;
$border-width: 2px;

$box-shadow-distance-x: 3px;
$box-shadow-distance-y: 4px;
$box-shaodw-blur: 0px;
$box-shaodw-color: #000;

$animation-bounce-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$padding-x: .75em;
$padding-y: .5em;

$font-sizes: (
  h1: 2em,
  h2: 1.75em,
  h3: 1.55em,
  h4: 1.5em,
  base: 1em,
);

@mixin box-shadow($x-offset: 0px, $y-offset: 0px, $additional-filters: []) {
  $shadow-filter: drop-shadow(calc($box-shadow-distance-x + $x-offset) calc($y-offset + $box-shadow-distance-y) $box-shaodw-blur $box-shaodw-color);
  $filters: list.join($additional-filters, $shadow-filter, $bracketed: false);
  
  filter: $filters;
};

$active-glow: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));

$input-transition: transform $animation-bounce-curve .25s, filter $animation-bounce-curve .25s;

$input-active-offset-x: -2px;
$input-active-offset-y: $input-active-offset-x;

$input-hover-offset-x: -1px;
$input-hover-offset-y: $input-hover-offset-x;

$input-focus-shadow: 0 0 0 .25rem (color.adjust($col-primary, $alpha: -0.4));

$btn-pressed-offset-x: 1px;
$btn-pressed-offset-y: $btn-pressed-offset-x;
