$box-shadow: null;
$box-shadow-is-inset: false;
$box-shadow-h-offset: 2px;
$box-shadow-v-offset: 4px;
$box-shadow-blur-radius: 12px;
$box-shadow-spread-radius: 2px;
$box-shadow-color: rgba(0, 0, 0, 0.08);

@if ($box-shadow-is-inset) {
  $box-shadow: inset
    $box-shadow-h-offset
    $box-shadow-h-offset
    $box-shadow-blur-radius
    $box-shadow-spread-radius
    $box-shadow-color;
} @else {
  $box-shadow:
    $box-shadow-h-offset
    $box-shadow-v-offset
    $box-shadow-blur-radius
    $box-shadow-spread-radius
    $box-shadow-color;
}
